// colors

$clr-blue: hsl(223, 87%, 63%);
$clr-blue-hover: hsl(223, 87%, 73%);

$clr-pale-blue: hsl(223, 100%, 88%);
$clr-pale-blue1: hsl(223, 35%, 83%);
$clr-light-red: hsl(354, 100%, 66%);

$clr-light-gray: hsl(0, 0%, 85%);
$clr-gray: hsl(0, 0%, 59%);
$clr-very-dark-blue: hsl(209, 33%, 12%);
$clr-white: hsl(0, 0%, 100%);

// typography
$ff: 'Libre Franklin', sans-serif;

$fs-copyright-desktop: 1.2rem;
$fs-social-desktop: 1.5rem;
$fs-placeholder-desktop: 1.6rem;
$fs-small: 2rem;
//$fs-normal-desktop: 
$fs-normal: 2.4rem;
$fs-social: 2.8rem;
$fs-heading-mobile: 4.4rem;
$fs-heading-desktop: 4.8rem;

$fw-light: 300;
$fw-semi-bold: 600;
$fw-bold: 700;

$desktop: 75em;