@use 'index' as *;
@use 'attribution';

body {
    font-family: $ff;
    font-size: $fs-normal;
    font-weight: $fw-light;
    color: $clr-very-dark-blue;
    background: linear-gradient($clr-pale-blue1, hsl(223, 35%, 90%)) ;
}

.ping {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 75rem;
    height: 162rem;
    margin: 0.5rem auto;
    padding: 17rem 5.4rem 7.8rem;
    background-color: $clr-white;
    box-shadow: 0.7rem 1rem 0.2rem hsla(0, 0%, 0%, 0.1);
}

@media (min-width: $desktop) {
    body {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .ping {
        width: 144rem;
        height: 102.4rem;
        margin: 0;
        padding: 8.8rem 40.2rem 5.2rem;
    }
}

.ping__logo {
    width: 10.7rem;
    height: auto;
}

.ping__title {
    margin: 7.8rem 0 3.6rem;
    font-size: $fs-heading-mobile;
    font-weight: $fw-bold;
}

.ping__title > span {
    color: $clr-gray;
    font-weight: $fw-light;
}

@media (min-width: $desktop) {
    .ping__logo {
        width: 8.8rem;
        height: 2.5rem;
    }

    .ping__title {
        margin: 6rem 0 3.4rem;
        font-size: $fs-heading-desktop;
    }
}

.form {
    position: relative;
    width: 56.4rem;
}

.ping__email {
    display: block;
    width: 100%;
    margin-top: 6.4rem;
    padding: 2.35rem 6.5rem;
    border-radius: 4rem;
    outline: none;
    border: 0.2rem solid $clr-pale-blue1;
}

.error-border {
    border: 0.2rem solid $clr-light-red;
}

.ping__email:active {
    border: 0.2rem solid $clr-pale-blue1 !important;
}

.ping__email::placeholder {
    color: $clr-pale-blue1;
}

.ping__email--error {
    display: none;
}

.error-message {
    display: block;
    margin: 1.2rem 11rem 2.8rem;
    font-size: $fs-small;
    font-weight: $fw-semi-bold;
    font-style: italic;
    color: $clr-light-red;
}

.ping__submit {
    width: 100%;
    margin-top: 1.8rem;
    padding: 2.55rem 6.5rem;
    color: $clr-white;
    font-weight: $fw-semi-bold;
    text-align: center;
    background-color: $clr-blue;
    border: none;
    border-radius: 4rem;
    box-shadow: 0.5rem 1rem 2rem hsla(223, 87%, 63%, 0.3);
    cursor: pointer;
}

.ping__submit:hover,
.ping__submit:focus {
    background-color: $clr-blue-hover;
}

.ping__submit:active {
    border: none !important;
}

@media (min-width: $desktop) {
    form {
        width: 64rem;
    }

    .ping__email {
        display: inline-block;
        width: 42.2rem;
        margin-top: 4.6rem;
        padding: 3.2rem 2.4rem;
        border-radius: 4rem;
    }

    .error {
        left: 3rem;
        margin-bottom: 9.4rem;
    }

    .ping__submit {
        display: inline-block;
        margin-top: 0;
        margin-left: 1.5rem;
        padding: 0 2.4rem;
    }
}

.ping__illustration {
    margin: 13.6rem 0 24rem;
}

.ping__illustration--error {
    margin: 7.2rem 0 24rem;
}

.ping__social {
    display: flex;
    gap: 2.7rem;
    justify-content: center;
    margin-bottom: 5.6rem;
}

.ping__social-item {
    width: 6rem;
    height: 6rem;
    background-color: $clr-white;
    border: 0.1rem solid $clr-pale-blue1;
    border-radius: 50%;
}

.ping__social-item > a {
    font-size: $fs-social;
    color: $clr-blue;
}

.ping__social-item:hover {
    border: none;
    background-color: $clr-blue;
}

.ping__social-item:hover > a {
    color: $clr-white;
}

.copyright {
    font-size: $fs-small;
    color: $clr-gray;
}

@media (min-width: $desktop) {
    .ping_illustration {
        width: 64.2rem;
        margin: 9.5rem 0 7.3rem;
    }

    .ping__social {
        gap: 1.4rem;
        margin-bottom: 3rem;
    }
    
    .ping__social-item {
        height: 3.2rem;
    }

    .copyright {
        font-size: $fs-small;
    }
}
